.box2{
    color:red;
    }
    
    .container{
        width: 80%;
        background-color: rgb(240, 240, 240);
        margin: 0 auto;
    }
    .box1{
        border: 5px dashed rgb(200,200,200);
        border-radius: 30px;
    }
    .block1{
        display:flex;
       
        justify-content: space-around;

        border: 5px dashed rgb(200,200,200);
        
        border-radius: 30px;
    }

